<!doctype html>
<html lang="en">
  <head>
    <title>Europa UI</title>
    <link href="{{ url_for('.static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('.static', filename='css/style.css') }}" rel="stylesheet">
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Europa</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarPrimary" aria-controls="navbarPrimary" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarPrimary">
        <ul class="navbar-nav mr-auto">
        </ul>
      </div>
    </nav>

    <div class="container">
      <main role="main" class="container">

        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
          <h3>Sensor History</h3>
          <div class="btn-toolbar mb-2 mb-md-0"></div>
        </div>

        <div id='chart-container'></div>
      </main>
    </div>

    <script src="{{ url_for('.static', filename='js/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ url_for('.static', filename='js/popper-1.12.9.min.js') }}"></script>
    <script src="{{ url_for('.static', filename='js/bootstrap-4.0.0.min.js') }}"></script>
    <script src="{{ url_for('.static', filename='js/chart-2.7.2.min.js') }}"></script>

    <script>
    window.onload = function () {
      charts = []

      // Fetch all sensors.
      $.getJSON("/api/v1/sensors", function(sensors) {
        $.each(sensors, function(idx, entry) {
          labels = []
          datapoints = []

          // Fetch and format data for this sensor.
          $.getJSON("/api/v1/sensor/" + entry['id'] + "/data", function(sensor) {
            $.each(sensor, function(idx, datapoint) {
              labels.push(new Date(datapoint['created']).toLocaleString())
              datapoints.push(
                {
                  t: new Date(datapoint['created']),
                  y: datapoint['value']
                }
              )
            });
          });

          // Push the data ready to create the chart.
          charts.push({
            labels: labels,
            datasets: [{
              label: entry['vessel'],
              fill: true,
              data: datapoints
            }]
          })
        });
      });

      // Create all graphs.
      $.each(charts, function(idx, entry) {
        $("#chart-container").append(
            "<canvas id='chart" + idx + "' width='900' height='380'></canvas>"
          );
          var ctx = document.getElementById("chart" + idx).getContext("2d");
          new Chart(ctx).Line(
            data,
            {
              options: {
                responsive: true,
                title: {
                  display: true
                }
              }
            }
          );
      });
    }
    </script>
  </body>
</html>