<!doctype html>
<html lang="en">
  <head>
    <title>Europa UI</title>
    <link href="{{ url_for('.static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('.static', filename='css/style.css') }}" rel="stylesheet">
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Europa</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarPrimary" aria-controls="navbarPrimary" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarPrimary">
        <ul class="navbar-nav mr-auto">
        </ul>
      </div>
    </nav>

    <div class="container">
      <main role="main" class="container">

        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
          <h3>Sensor History</h3>
          <div class="btn-toolbar mb-2 mb-md-0"></div>
        </div>

        <div id='chart-container'></div>
      </main>
    </div>

    <script src="{{ url_for('.static', filename='js/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ url_for('.static', filename='js/popper-1.12.9.min.js') }}"></script>
    <script src="{{ url_for('.static', filename='js/bootstrap-4.0.0.min.js') }}"></script>
    <script src="{{ url_for('.static', filename='js/chart-2.7.2.min.js') }}"></script>

    <script>
      $.getJSON("/api/v1/sensors", function(sensors) {
        
        // Create a new Chart for each sensor.
        $.each(sensors, function(idx, entry) {
          $("#chart-container").append(
            "<canvas class='my-4' id='chart" + entry['id'] + "' width='900' height='380'></canvas>"
          );

          // Fetch a stream of data for this sensor.
          labels = []
          datapoints = []
          $.getJSON("/api/v1/sensor/" + entry['id'] + "/data", function(sensor) {
            $.each(sensor, function(idx, datapoint) {
              labels.push(new Date(datapoint['created']).toLocaleString())
              datapoints.push(
                {
                  t: new Date(datapoint['created']),
                  y: datapoint['value']
                }
              )
            });
          });

          // Initialize the new chart.
          new Chart(
            document.getElementById("chart" + entry['id']).getContext("2d"),
            {
              type: 'line',
              data: {
                labels: labels,
                datasets: [{
                  label: entry['vessel'],
                  fill: true,
                  data: datapoints
                }]
              },
              options: {
                responsive: true,
                title: {
                  display: true,
                  text: entry['name'] + " " + entry['category']
                }
              }
            }
          );
        });
      });
    </script>
  </body>
</html>