<!doctype html>
<html lang="en">
  <head>
    <title>Europa UI</title>
    <link href="{{ url_for('.static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('.static', filename='css/style.css') }}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet"> 
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <a class="navbar-brand" href="#">EUROPA</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarPrimary" aria-controls="navbarPrimary" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarPrimary">
        <ul class="navbar-nav mr-auto">
        </ul>
      </div>
    </nav>

    <div class="container">
      <main role="main" class="container">

        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
          <h3>Sensor History</h3>
          <div class="btn-toolbar mb-2 mb-md-0"></div>
        </div>

        <div id='chart-container'></div>
      </main>
    </div>

    <script src="{{ url_for('.static', filename='js/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ url_for('.static', filename='js/popper-1.12.9.min.js') }}"></script>
    <script src="{{ url_for('.static', filename='js/bootstrap-4.0.0.min.js') }}"></script>
    <script src="{{ url_for('.static', filename='js/moment-2.22.0.min.js') }}"></script>
    <script src="{{ url_for('.static', filename='js/chart-2.7.2.min.js') }}"></script>

    <script>
    window.onload = function () {
      labels = {}
      datapoints = {}

      // Fetch all sensors.
      $.getJSON("/api/v1/sensors", function(sensors) {
        $.each(sensors, function(sensor) {
          labels[sensors[sensor]['id']] = []
          datapoints[sensors[sensor]['id']] = []

          // Fetch and format data for this sensor.
          $.getJSON("/api/v1/sensor/" + sensors[sensor]['id'] + "/data", function(entries) {
            $.each(entries, function(entry) {
              labels[sensors[sensor]['id']].push(
                new Date(entries[entry]['created']).toLocaleString()
              )
              datapoints[sensors[sensor]['id']].push(
                {
                  t: new Date(entries[entry]['created']),
                  y: entries[entry]['value']
                }
              )
            });
       
            // Push the data ready to create the chart.
            $("#chart-container").append(
              "<canvas class='animated fadeIn' id='chart" + sensors[sensor]['id'] + "' width='900' height='380'></canvas>"
            );
            new Chart(
              document.getElementById("chart" + sensors[sensor]['id']).getContext("2d"),
              {
                type: 'line',
                data: {
                  labels: labels[sensors[sensor]['id']],
                  datasets: [{
                    label: sensors[sensor]['vessel'],
                    borderColor: "#127BA3",
                    backgroundColor: "#127BA3B3",
                    fill: true,
                    data: datapoints[sensors[sensor]['id']]
                  }]
                },
                options: {
                  responsive: true,
                  legend: {
                    position: 'bottom',
                  },
                  title: {
                    display: true,
                    text: sensors[sensor]['name'] + " " + sensors[sensor]['category']
                  },
                  scales: {
                    xAxes: [{
                      type: 'time',
                      distribution: 'series',
                      display: true,
                      scaleLabel: {
                        display: true,
                        labelString: 'Timestamp'
                      }
                    }],
                    yAxes: [{
                      display: true,
                      scaleLabel: {
                        display: true,
                        labelString: sensors[sensor]['category']
                      }
                    }]
                  }
                }
              }
            );
          });
        });
      });
    }
    </script>
  </body>
</html>